In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
sns.set_style('dark')

def combine(x):
    return x['title'] + " " + x['genres']
    
movies = pd.read_csv('movies.csv')
movies['title'] = movies.apply(lambda x: x['title'].split(' (')[0],axis=1)
movies['genres'] = movies['genres'].str.replace('|',' ')
movies['Combined_Data'] = movies.apply(lambda x: combine(x),axis=1)
movies.reset_index(inplace=True)
movies.head()

,index,movieId,title,genres,Combined_Data
0,0,1,Toy Story,Adventure Animation Children Comedy Fantasy,Toy Story Adventure Animation Children Comedy ...
1,1,2,Jumanji,Adventure Children Fantasy,Jumanji Adventure Children Fantasy
2,2,3,Grumpier Old Men,Comedy Romance,Grumpier Old Men Comedy Romance
3,3,4,Waiting to Exhale,Comedy Drama Romance,Waiting to Exhale Comedy Drama Romance
4,4,5,Father of the Bride Part II,Comedy,Father of the Bride Part II Comedy

In [6]:
movies.isnull().sum()

movieId          0
title            0
genres           0
Combined_Data    0
dtype: int64

In [61]:
# Using Count Vectorizer
cv = CountVectorizer()
count_matrix = cv.fit_transform(movies["Combined_Data"])
cosine_sim = cosine_similarity(count_matrix)
#cosine_sim
user_movie = input('Pls enter your movie on which you want similar movies: ')
user_index = movies[movies.title == user_movie].index.values[0]
similar_movies = list(enumerate(cosine_sim[user_index]))
sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]
#sorted_similar_movies

print("\nTop 10 similar movies to "+ user_movie +" are:\n")
for i in range(10):
    print((movies['title'][movies.index == (sorted_similar_movies[i][0]) ]).values[0])

Pls enter your movie on which you want similar movies: Jumanji

Top 10 similar movies to Jumanji are:

Pan
MirrorMask
Zathura
Ponyo
G-Force
Seventh Son
Halloweentown
Pete's Dragon
Gulliver's Travels
Ewok Adventure, The

In [63]:
#Using TFIDF
tf = TfidfVectorizer()
count_matrix = tf.fit_transform(movies["Combined_Data"])
cosine_sim_tf = cosine_similarity(count_matrix)
#cosine_sim_tf
user_movie = input('Pls enter your movie on which you want similar movies: ')
user_index = movies[movies.title == user_movie].index.values[0]
similar_movies = list(enumerate(cosine_sim_tf[user_index]))
sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]
#sorted_similar_movies

print("\nTop 10 similar movies to "+ user_movie +" are:\n")
for i in range(10):
    print((movies['title'][movies.index == (sorted_similar_movies[i][0]) ]).values[0])

Pls enter your movie on which you want similar movies: Jumanji

Top 10 similar movies to Jumanji are:

Jumanji: Welcome to the Jungle
Wild, The
G-Force
Pan
D.A.R.Y.L.
Ewok Adventure, The
Home
Halloweentown
8 1/2
MirrorMask